@media screen {

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Structure --- */

  body {
    background-color: #1f0011;
    color: #efefef;
    font-family: 'Noto Serif JP', serif;
    margin: 0 auto;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .branding {
    clear: both;
  }

  nav, footer {
    padding: 20px 0;
    width: 100%;
  }

  footer {
    bottom: 0px;
  }

  footer.branding {
    margin-top: 20px;
    padding-top: 20px;
  }

  /* --- Fonts --- */

  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
  }

  p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 150%;
    margin-bottom: 18px;
  }

  /* --- Links --- */

  a, a:visited {
    color: #750e49;
    font-weight: bold;
    text-decoration: none;
    /* border-bottom: 1px solid #efefef; */
  }

  /* --- Forms --- */

  input {
      display: inline-block;
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 3px;
      margin: 10px 0;
      padding: 5px;
  }

  input[type="submit"] {
      color: white;
      background-color: #750e49;
      max-width: 200px;
      width: 100%;
      height: 40px;
      font-size: 16px;
  }

}
