<h1>BOTTLES/INDEX.erb</h1>

<ul>
  <% @bottles.each do |bottle| %>
  <li>
    <a href="/bottles/<%= bottle.id %>"><%= bottle.name %></a>
  </li>
  <% end %>
</ul>

<p><a href="/bottles/new">Create a new bottle</a></p>
