<h1>Bottles</h1>

<ul>
  <% @bottles.each do |bottle| %>
  <li>
    <a href="/bottles/<%= bottle.id %>"><%= bottle.name %> - <%= bottle.variety %> - <%= bottle.brand %></a>
  </li>
  <% end %>
</ul>

<p><a href="/bottles/new">Create a new bottle</a></p>
