<h1>Create a New Bottle</h1>

<form action="/bottles" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name"/>

  <label for="brand">Brand</label>
  <input type="text" name="brand" id="brand"/>

  <label for="variety">Variety</label>
  <input type="text" name="variety" id="variety"/>

  <label for="description">Description</label>
  <input type="textarea" name="description" id="description"/>

  <label for="note">Note</label>
  <input type="textarea" name="note" id="note"/>

  <input type="submit" value="Submit">
</form>
