BOTTLES/SHOW

This is the view of bottle #<%= @bottle.id %>

<p><%= @bottle.name %></p>

<p><a href="/bottles">Back to all wine bottles</a></p>
<p><a href="/bottles/<%= @bottle.id %>/edit">Edit this bottle</a></p>
