<h1>Login</h1>

<form action="/login" method="post">

  <label for="name">Email:</label>
  <input type="email" name="email" id="name"/>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />

  <input type="submit" value="Submit">
</form>
