<div class="container">
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">

    <i class="fas fa-wine-bottle" style="font-size: 100px; text-align: center;"></i>
    <h1>Welcome to Wine Journal</h1>
    <h2>A Sinatra based application for keeping track of your favorite wines. Cheers! </h2>

  </div>
</div>
